body{
    background: url(../images/processed.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    color: white;
}
h1{
    color: rgb(0, 211, 35);
    font-size: 30px;
    margin-bottom: 20px;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 10px; 
    
}
ul li:hover{
    background: pink;
}
a{
    text-decoration: none;
   
}
.bo{
    text-align: center;
    align-items: center;
    margin-bottom: 500px;

}
.men{
    margin-right: 30%;
    
}